<!-- <div>
  <button
    mat-stroked-button
    color="primary"
    [disabled]="token"
    (click)="Toshop()"
  >
    <span *ngIf="cartOpen">Resume</span>
    <span *ngIf="noCart">start</span>
    <span *ngIf="isAdmin">manage the cart</span>
    Shopping
  </button>

  <div *ngIf="isLogged" class="userLog_box">
    <login *ngIf="!isOpen" (tokenStatus)="tokenCheck($event)"></login>

    <div *ngIf="new_user">
      <span>if you are new at this site, please - </span>

      <button mat-fab color="primary" (click)="signUp()">
        Sign Up
      </button>
    </div>

    <register *ngIf="isOpen" (tokenStatus)="tokenCheck($event)"></register>
  </div>
</div> -->
